{% extends '::base.html.twig' %}

{% block content %}


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'table.users.head.name' | trans | desc('Name') }}</th>
                    <th>{{ 'table.users.head.email' | trans | desc('E-Mail') }}</th>
                    <th>{{ 'table.servers.head.actions' | trans | desc('Actions') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{{ path('app_admin_useredit', {'id': user.id}) }}"
                               class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><a href="{{ path('app_admin_useredit') }}" class="btn btn-primary btn-sm"><span
                                    class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock content %}


